<div class="loan-calculator-wrapper">
  <div class="loan-header">
    Short Term Loans and Instalment Loans!
  </div>
  <div class="slider-wrapper">
    <div class="form-field">
      <div class="label-wrapper">
        <span>How much money do you need?</span>
      </div>
      <div class="form-slider-wrapper">
        <mat-slider
          [min]="minPrincipal"
          [max]="maxPrincipal"
          [step]="principalStep"
          [value]="principal"
          (change)="onSliderChange($event, 'principal')"
          [displayWith]="formatPrincipalLabel"
        ></mat-slider>
        <div class="slider-values-wrapper">
          <span>{{ minPrincipal }}</span>
          <span>{{ maxPrincipal }}</span>
        </div>
      </div>
    </div>
    <div class="form-field">
      <div class="label-wrapper">
        <span>How long do you need it for?</span>
      </div>
      <div class="form-slider-wrapper">
        <mat-slider
          [min]="minTenure"
          [max]="maxTenure"
          [step]="tenureStep"
          [value]="tenure"
          (change)="onSliderChange($event, 'tenure')"
          [displayWith]="formatTenurelLabel"
        ></mat-slider>
        <div class="slider-values-wrapper">
          <span>{{ minTenure }}</span>
          <span>{{ maxTenure }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="summary-wrapper">
    <div class="amount-wrapper">
      <span class="amount-title">Principal Amount</span>
      <span class="amount-value">R {{ principal }}</span>
    </div>
    <div class="amount-wrapper">
      <span class="amount-title">Interest & Fees</span>
      <span class="amount-value">R {{ interest }}</span>
    </div>
    <div class="amount-wrapper">
      <span class="amount-title">Amount Payble</span>
      <span class="amount-value">R {{ total }}</span>
    </div>
    <div class="actions-wrapper">
      <a mat-raised-button class="apply-button" href="http://ec2-13-233-87-195.ap-south-1.compute.amazonaws.com/?page_id=3582">Contact Us</a>
      <button mat-raised-button color="primary" class="apply-button" (click)="getUrl()">
        Apply
      </button>
    </div>
  </div>
</div>
