.loan-calculator-wrapper {
  padding: 2em;
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto;
  grid-template-areas: "loan-header loan-header" "slider-wrapper summary-wrapper";
  // width: 50%; // remove this
  // margin: 0 auto;
}
.slider-wrapper {
  grid-area: slider-wrapper;
}
.loan-chart-wrapper {
  grid-area: loan-chart-wrapper;
}
.summary-wrapper {
  grid-area: summary-wrapper;
  padding: 1em;
}
.amount-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
mat-slider, .slider-values-wrapper {
  width: 90%;
  margin-left: 4%;
}
.label-wrapper, .slider-values-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-field {
  padding: 1em 0;
}
mat-card.loan-calculator-card {
  margin-top: 1em;
}
.repay-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.actions-wrapper {
  margin-top: 1em;
  text-align: center;
}
.apply-button {
  margin: 0.5em;
  text-decoration: none;
}
.amount-title, .repay-title, .label-wrapper span, .repayment-date {
  color: rgba(0, 0, 0, 0.75);
}
.amount-value, .repay-date, .repayment-amount {
  font-size: 1.2em;
  font-weight: 500;
}
.repayment-amount {
  margin-top: 0.2em;
}
.payment-schedule-selection-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.duration-select-wrapper, .day-selection-wrapper  {
  flex: 3;
}
.duration-text {
  flex: 1;
  text-align: center;
}
.loan-header {
  grid-area: loan-header;
  justify-self: center;
  font-size: 1.7em;
  color: rgba(0, 0, 0, 0.75);
}
.repayment-schedule-wrapper {
  text-align: center;
}

// material changes
mat-form-field {
  width: 100%;
}
